/* 

 Custom Styles for Blogroll

*/

// Basic info

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}
a {
	font-weight: 700;
}


// Sidebar stuff

.blogroll_logo {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.list-all {
	margin-top: 0.5rem;
}
#text-2 .textwidget {
	padding: 0.9375rem;
	background-color: $orange;
	color: $white;
	margin-bottom: 1.5rem;
	font-size: rem-calc(15);
}
#nav_menu-2, #nav_menu-3, #nav_menu-4 {
	ul {
		list-style: none;
		margin-left: 0;
		float: left;
		width: 100%;
	}
}

#nav_menu-2 ul {
	li {
		@include grid-column(
	    	$columns:6,
	    	$collapse:true
		);
		 a {
		 font-size: rem-calc(14);
		 display: block;
		}
	}
}
#menu-item-20 a {
	@include button(
    // We can set $full-width:true to remove side padding extend width. Default:false
    $full-width: true,
    $bg: $blue
	);
	margin-bottom: 0;
	padding-left: 0.9375rem;
}

#nav_menu-4 a {
	&:before {
		font: normal normal normal 14px/1 FontAwesome;
		content: "\f069";
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		transform: translate(0, 0);
		margin-right: 2px;
		display: inline-block;
		width: 24px;
		text-align: center;
	}
}
#menu-item-24 a:before {
	content: "\f129";
}
#menu-item-25 a:before {
	content: "\f09e";
}
#menu-item-23 a:before {
	content: "\f075";
}
#menu-other-sidebar-pages li {
	margin-bottom: 1rem;
}

ul.accordion {
	margin-left: 0;
}
.catpg_cathdr {
	font-size: rem-calc(15);
	border-bottom: 2px solid $black;
}
.catpg_blog {
	font-weight: 400;
	font-size: rem-calc(15);
	line-height: rem-calc(15);
	text-transform: none;
	color: $orange;
	margin-bottom: 0;
	i {
		color: #e3e3e3;
		float: right;
	}
}
.catpg_cont {
	p {
		font-size: rem-calc(12);
		line-height: rem-calc(12);
		margin-bottom: 0.25rem
	}
	span {
		font-weight: 700;
		color: $blue;
	}
}
.catpg_links {
	list-style: none;
	margin-left: 0;
	text-align: right;
}
.catpg_link {
	height: 30px;
	display: inline-block;
	background-image: url("../assets/img/bar-link_right.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	color: $white;
	line-height: rem-calc(30);
	padding-right: 0.5rem;
	padding-left: 1.5rem;
	&:hover {
		color: $black;
	}
	i {
		margin-left: 0.5rem;
	}
}